body {
    display: grid;
    grid-template-areas: 
    "hd"
    "sc"
    "ed"
    "mn"
    "ft"
    ;
    grid-template-columns: 1fr;
    grid-template-rows: 100px  300px 5px  auto 200px;
    /* gap:10px;     */
    margin: 0px;
    /* background-color: #2196F3; */

    
    background-image:url("../img/ocean.jpg");
    background-repeat: no-repeat;
    background-size:cover;


}


#edge {
    grid-area: ed;
    background-color: rgba(57, 194, 240, 0.9);
}
header {
    grid-area: hd;
    /* background-color: #2196F3; */
    background-color: rgba(57, 194, 240, 0.95);
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 5px;

    
    
}

nav {
    /* background-color:  ; */
    width: 70%;

    display: flex;
    justify-content: space-around;
    /* padding: 10px; */

}

#logo {
    width: 35%;
    
}
.linkbox {
    background-color: #7ddaf9;
    margin: 15px;
    padding:20px;
    position: relative;
    top: 12px;
}

section {
    grid-area: sc;
    background-image:url("../img/nxtadv.png");
    background-repeat: no-repeat;
    background-size:cover;
}

main {
    grid-area: mn;
    background-color: rgba(57, 194, 240, 0.2);
    /* border-radius: 15px; */
    
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;

    gap:20px;
    padding: 30px;

    
    

}
footer {
    grid-area: ft;
    background-color: burlywood;
}

aside {
    background-color: antiquewhite;
    width: 30%;
    height: 300px;
    border-radius: 20px;
    padding: 5px;

    overflow:hidden;

    transition: width 2s, height 2s;
    transition-delay: 0.2s;

}

aside:hover {

    width: 500px;
    height: 700px;

}
aside img {
    object-fit: cover;
    border-radius: 20px;
    width: 100%;
    height: 58%;
    
    
}
.headfont {
  font-family: "Galindo", sans-serif;
  font-weight: 400;
  font-style: normal;
  color:white;
  text-align: center;
  text-decoration: none;
}

.descfont {

    color:black;
    font-family: "Galindo", sans-serif;
    font-weight: 400;
    margin: 5px;
    
}