body {
    display: grid;
    grid-template-areas: 
    /* "rd" */
    "hd"
    /* "dd" */
    /* "sc" */
    "ed"
    "mn"
    "ft"
    ;
    grid-template-columns: 1fr;
    grid-template-rows: 400px 5px auto min-content;
    /* gap:10px;     */
    margin: 0px;
    /* background-color: #2196F3; */

    
    background-image:url("../img/ocean.jpg");
    background-repeat: no-repeat;
    background-size:cover;


}

#seperator {
    background-color: rgba(57, 194, 240, 0.9);
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 5px 10px;
    border-radius: 20px;
    box-shadow: 0 20px 80px rgba(0,0,0,0.5);


}


#title {
    /* margin: auto; */
    position:relative;
    z-index: 2;
    
    top:140px;
    
    
    min-width: 800px;
    width: 70vw;

}
#titletext {
    /* margin: auto; */
    position:relative;
    z-index: 2;
    
    top:70px;

    
    min-width: 800px;
    width: 70vw;

}

#edge {
    grid-area: ed;
    background-color: rgba(57, 194, 240, 0.8);
}

header {
    grid-area: hd;
    /* background-color: rgba(57, 194, 240, 0.5); */
    padding: 25px;
    background-image:url("../img/nxtadvv2.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    
    /* background-color: #2196F3; */
    
    
    
}
#side {
    /* background-color: rgba(57, 194, 240, 0.5); */
    padding: 20px;
}
#main {
    text-align: center;
    
}

nav {
    /* background-color:  ; */
    width: 70%;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap:10px;
    /* padding: 10px; */

}

nav p {
    font-size: 1rem;
    opacity: 1;
}

#logo img {
    height: 4em;
    
}
#logo * {
    margin: auto;
}
#logo {
    
    display: flex;
    flex-direction: row;
    width: min-content;
    
}

.nmr {
    display: inline;
    /* padding: 60px; */
    /* width: 10px; */

}
.linkbox {
    /* background-color: rgba(57, 194, 240, 0.2); */
    /* margin: auto; */
    padding:7px;
    /* position: relative; */
    /* top: 12px; */
    border-radius: 20px;
    transition: padding 0.5s;
    transition-delay: 0.1s;
    background-color: rgba(58, 158, 180, 0.1);
    /* border-bottom: 6px solid transparent; */
}

.linkbox:hover {
    background-color: rgba(47, 150, 171, 0.9);
    padding:10px;
    border-radius: 30px;
    
}
#selected {
    background-color: rgba(57, 150, 171, 0.2);
}
#selected:hover {
    background-color: rgba(47, 150, 171, 0.9);
}




main {
    grid-area: mn;
    background-color: rgba(57, 194, 240, 0.2);
    /* border-radius: 15px; */
    
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;

    gap:20px;
    padding: 30px;


}
footer {
    grid-area: ft;
    background-color: rgb(244, 215, 178);
    display: block;

    padding: 5px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.9);
    border-radius: 15px 15px 0px 0px;
}

aside {
    background-color: antiquewhite;
    width: 30%;
    height: 300px;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 0 15px 25px rgba(0,0,0,0.2);

    overflow:hidden;
    
    

    transition: width 1s ease, height 2s ease, box-shadow 1s ease;
    transition-delay: 0.4s;
    
}
aside:hover {
    
    box-shadow: 0 20px 40px rgba(0,0,0,0.4);
    width: 500px;
    height: 700px;
    
}
aside img {
    object-fit: cover;
    border-radius: 20px;
    width: 100%;
    height: 58%;  
}

h2 {
    font-size: 1.6rem;
    margin-top: 10px;
}

aside p {
    font-size: 0.9rem;
    line-height: 1.4;
    opacity: 0.85;
}


.reason {
    height: 500px;
    text-align: center;
}
.profile{
    width: 300px;
    height: 500px;
    text-align: center;
}
.profile:hover {
    width: 350px;
    height: 520px;
}
h6 {
    margin: 0px;
    font-size: 8px;
    
}


.headfont {
    font-family: "Galindo", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:white;
    
    text-align: center;
    text-decoration: none;
    text-shadow:
    -2px -2px 0 #000,
        2px -2px 0 #000,
    -2px  2px 0 #000,
        2px  2px 0 #000,
        0px  0px 6px rgba(0,0,0,0.6);

  
  white-space: nowrap;
 
}

.navfont {
    font-family: "Galindo", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:white;
    
    text-align: center;
    text-decoration: none;
    white-space: nowrap;

    text-shadow:
        -1.5px -1.5px 0 #000,
        1px -1.5px 0 #000,
        -1.5px  1.5px 0 #000,
        1.5px  1.5px 0 #000;
}
.descfont {

    color:black;
    font-family: "Galindo", sans-serif;
    font-weight: 400;
    margin: 5px;
    
}

p {
    font-size: 0.9rem;
    line-height: 1.4;
    opacity: 0.85;
}


aside h3 {
    font-size: 1rem;
    line-height: 0.9;
    margin-top: 8px;
    opacity: 0.9;
    text-align: center;
}

.credit {
    font-size: 0.6rem;
}